each review in reviews
    div(class="max-w-[300px] h-[200px] flex flex-col items-center justify-center p-8 text-center rounded-lg border bg-gray-800 border-gray-700 overflow-auto")
        div(class="flex items-center justify-start gap-2")
            div(class="relative w-8 h-8 overflow-hidden rounded-full bg-gray-600")
                svg(class="absolute w-10 h-10 text-gray-400 -left-1" fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd' d='M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z' clip-rule='evenodd')
            div(class="flex flex-col gap-1 items-start justify-center")
                p(class='text-white font-semibold text-sm')= review.name
                p(class="text-xs text-gray-400 ")= review.email

        p(class="my-4 mx-auto text-gray-400 text-center overflow-auto")= `"${review.message}"`
