header(class="w-full py-4 bg-slate-800 shadow-black shadow-md")
    nav(class="w-2/3 mx-auto flex flex-col md:flex-row justify-between md:gap-5 items-center text-white")
        a(href="/")
            img(src="/img/logo.svg" alt="sitio logo" class="w-[300px] mb-5 md:mb-0")

        ul(class="flex items-center justify-center gap-10 font-staatliches text-lg md:text-2xl tracking-wider")
            li
                a(href="/about-us" class="hover:text-blue-200 font-bold transition-all") Nosotros
            li
                a(href="/games" class="hover:text-blue-200 font-bold transition-all") Juegos
            li
                a(href="/review" class="hover:text-blue-200 font-bold transition-all") Reseñas
